# Node modules
node_modules/

# Build output (se você estiver usando o Create React App)
build/

# Diretórios de cache
/.cache/

# Arquivos de configuração do ambiente
.env
.env.local
.env.*.local

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos do editor
.vscode/*
.idea/
.DS_Store

# Arquivos de sistema específicos
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln

# Arquivos de backup ou temporários
*.bak
*.swp
*.swo
